<div class="page-wrapper">
  <div
    fxLayout.gt-sm="row"
    fxLayout.lt-md="column"
    fxLayoutAlign.gt-sm="space-between start"
    fxLayoutAlign.lt-md="space-around start"
    class="page-container"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="space-around center"
      ngClass.gt-sm="left-column-container"
      ngClass.lt-md="left-column-container-small"
    >
      <div class="text-container">
        <h1>
          It's not about <br />
          wires. <br />
          It's about <br />
          <span class="color-animation"> connections. </span>
        </h1>
        <div class="text-underline"></div>
        <p class="brief-description">
          We are a FIRST Tech Challenge robotics team from "Fratii Buzesti"
          National College, Craiova
        </p>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-evenly center center"
        class="buttons-container"
      >
        <button mat-flat-button class="map-button" routerLink="/map">
          Search on the map
        </button>
        <button
          mat-flat-button
          class="app-button"
          (click)="scoringAppService.openScoringDialog()"
        >
          Use our scoring app
        </button>
      </div>
    </div>
    <div
      ngClass.gt-sm="right-column-container"
      ngClass.lt-md="right-column-container-small"
    >
      <img
        src="/assets/img/PowerPlay.png"
        alt="Power Play FTC robot"
        ngClass.gt-sm="render"
        ngClass.lt-md="render-small"
      />
    </div>
  </div>
</div>
