<span
  routerLink="/home"
  ngClass.gt-sm="button-text-big animated-button-text"
  ngClass.lt-md="button-text-small"
  (click)="mobileSidenavService.close()"
  >about</span
>
<span
  ngClass.gt-sm="button-text-big animated-button-text"
  ngClass.lt-md="button-text-small"
  (click)="mobileSidenavService.close()"
  >news</span
>
<span
  ngClass.gt-sm="button-text-big animated-button-text"
  ngClass.lt-md="button-text-small"
  (click)="mobileSidenavService.close()"
  routerLink="/map"
  >map</span
>


<span
  ngClass.gt-sm="button-text-big animated-button-text"
  ngClass.lt-md="button-text-small"
  (click)="mobileSidenavService.close()"
  >sponsors</span
>

<a href="https://linktr.ee/Soft_Hoarders" style="text-decoration: none;"><span
  ngClass.gt-sm="button-text-big animated-button-text"
  ngClass.lt-md="button-text-small"
  (click)="mobileSidenavService.close()"
  >media</span
></a>
