.button-text {
  margin-left: 3vw;
  margin-right: 2vw;
  display: inline-block;
  position: relative;
  font-family: Newake;
  font-size: calc(0.5vw + 10px);
  cursor: pointer;
}

.button-text::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: 4px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-text:hover::after {
  transform: scaleX(1);
  background-color: #48bf53;
  transform-origin: bottom left;
}

.button-text:hover {
  color: #48bf53;
}
