<div fxLayoutAlign="center center" class="lightning-container">
  <img
    src="../assets/img/scoring-app/lightning.png"
    alt="lighting"
    class="lightning"
  />
</div>

<div class="page-container">
  <mat-toolbar
    class="total"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div fxLayoutAlign="center center">
      <b> Total points: {{ this.calcService.total(game) }} </b>
      <button mat-icon-button class="btnAfterTotal" (click)="onReset()">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
    <button mat-icon-button class="home" (click)="onPageChange(1)">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <div class="categories-container">
    <div class="auto">
      <h2>Autonomous: {{ getAutoPoints() }}</h2>
      <mat-divider></mat-divider>
      <section>
        <p>
          Parked normally: <br />
          <mat-button-toggle-group [(ngModel)]="game.robot1.auto.parked">
            <mat-button-toggle value="0"
              ><span class="textColor">No</span></mat-button-toggle
            >
            <mat-button-toggle value="2"
              ><span class="textColor">Substation</span></mat-button-toggle
            >
            <mat-button-toggle value="2.5"
              ><span class="textColor">Terminal</span></mat-button-toggle
            >
          </mat-button-toggle-group>
        </p>
        <p>
          Parked in signal zone: <br />
          <mat-button-toggle-group [(ngModel)]="game.robot1.auto.parked">
            <mat-button-toggle value="10"
              ><span class="textColor">No Bonus</span></mat-button-toggle
            >
            <mat-button-toggle value="20"
              ><span class="textColor">Sleeve Bonus</span></mat-button-toggle
            >
          </mat-button-toggle-group>
        </p>
      </section>
      <p>Cones in:</p>
      <p>
        &emsp;Terminal: {{ game.robot1.auto.conesInTerminal }}
        <button mat-mini-fab (click)="onTerminalConesAuto(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onTerminalConesAuto(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Ground junction: {{ game.robot1.auto.conesInGround }}
        <button mat-mini-fab (click)="onGroundConesAuto(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onGroundConesAuto(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Low junction: {{ game.robot1.auto.conesInLow }}
        <button mat-mini-fab (click)="onLowConesAuto(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onLowConesAuto(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Medium junction: {{ game.robot1.auto.conesInMedium }}
        <button mat-mini-fab (click)="onMediumConesAuto(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onMediumConesAuto(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;High junction: {{ game.robot1.auto.conesInHigh }}
        <button mat-mini-fab (click)="onHighConesAuto(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onHighConesAuto(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
    </div>
    <div class="teleop">
      <h2>Teleop: {{ getTeleopPoints() }}</h2>
      <mat-divider></mat-divider>
      <p>Cones in:</p>
      <p>
        &emsp;Terminal: {{ game.robot1.teleop.conesInTerminal }}
        <button mat-mini-fab (click)="onTerminalCones(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onTerminalCones(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Ground junction: {{ game.robot1.teleop.conesInGround }}
        <button mat-mini-fab (click)="onGroundCones(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onGroundCones(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Low junction: {{ game.robot1.teleop.conesInLow }}
        <button mat-mini-fab (click)="onLowCones(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onLowCones(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;Medium junction: {{ game.robot1.teleop.conesInMedium }}
        <button mat-mini-fab (click)="onMediumCones(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onMediumCones(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        &emsp;High junction: {{ game.robot1.teleop.conesInHigh }}
        <button mat-mini-fab (click)="onHighCones(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onHighCones(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
    </div>
    <div class="endgame">
      <h2>Endgame: {{ getEndgamePoints() }}</h2>
      <mat-divider></mat-divider>
      <p>
        Circuit completed:
        <mat-checkbox [(ngModel)]="game.robot1.endgame.circuit"></mat-checkbox>
      </p>
      <p>
        Parked in terminal:
        <mat-checkbox
          [(ngModel)]="game.robot1.endgame.parkedInTerminal"
        ></mat-checkbox>
      </p>
      <p>Junctions owned by:</p>
      <section>
        <p>
          &emsp;Top cone: {{ game.robot1.endgame.junctionsOwnedByCone }}
          <button
            mat-mini-fab
            (click)="onJunctionsOwnedByCone(-1)"
            class="minifab"
          >
            <mat-icon>remove</mat-icon></button
          ><button
            mat-mini-fab
            (click)="onJunctionsOwnedByCone(1)"
            class="minifab"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
        <p>
          &emsp;Capped beacon: {{ game.robot1.endgame.junctionsOwnedByBeacon }}
          <button
            mat-mini-fab
            (click)="onJunctionsOwnedByBeacon(-1)"
            class="minifab"
          >
            <mat-icon>remove</mat-icon></button
          ><button
            mat-mini-fab
            (click)="onJunctionsOwnedByBeacon(1)"
            class="minifab"
          >
            <mat-icon>add</mat-icon>
          </button>
        </p>
      </section>
    </div>
    <div class="penalties">
      <h2>Penalties: {{ -getPenaltyPoints() }}</h2>
      <mat-divider></mat-divider>
      <p>
        Minor penalties: {{ game.minors }}
        <button mat-mini-fab (click)="onMinor(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onMinor(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
      <p>
        Major penalties: {{ game.majors }}
        <button mat-mini-fab (click)="onMajor(-1)" class="minifab">
          <mat-icon>remove</mat-icon></button
        ><button mat-mini-fab (click)="onMajor(1)" class="minifab">
          <mat-icon>add</mat-icon>
        </button>
      </p>
    </div>
  </div>
</div>
