@font-face {
  font-family: Newake;
  src: url(assets/font/NewakeFont.otf) format("opentype");
}
body {
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  background:transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius :100vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #48bf53;
  border-radius :100vw; 
}



.no-padding-dialog .mat-dialog-container {
  padding: 1vw;
  border-radius: 15px;
}
