@import '~maplibre-gl/dist/maplibre-gl.css';

@font-face {
  font-family: Newake;
  src: url(assets/font/NewakeFont.otf) format("opentype");
}
body {
  margin: 0;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.no-padding-dialog .mat-dialog-container {
  padding: 1vw;
  border-radius: 15px;
}
