p {
    font-size: 2vh;
    height: fit-content;
    color: white;
    z-index: 1;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h2{
    color: white;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
    background-color: #92D50B !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(100, 145, 10) !important;
}

::ng-deep .mat-checkbox-frame{
    border-color: white;
}


.total {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
}

.home {
    color: #92D50B;
    transform: scale(1.5);
}

.btnAfterTotal{
    margin-left: 3vw;
    color: #92D50B;
    transform: scale(1.5);
}

.auto{
    padding: 3%;
    border: 4px solid #92D50B;
    border-radius: 25px;
}

.teleop{
    border-radius: 25px;
    border: 4px solid #92D50B;
    padding: 3%;
    margin-top: 3vh;
}

.endgame{
    padding: 3%;
    border: 4px solid #92D50B;
    border-radius: 25px;
    margin-top: 3vh;
}

.penalties{
    padding: 3%;
    border: 4px solid #92D50B;
    border-radius: 25px;
    margin-top: 3vh;
}

.centered {
    position: relative;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.minifab{
    background-color: rgb(138, 198, 18);
    margin-right: 2%;
    transform: scale(0.9);
}
.mat-button-toggle-group{
    border: 4px solid #92D50B;
    border-right: 4px solid #92D50B;
    border-radius: 15px;
    margin-left: 4vw;
}
.mat-button-toggle{
    background: rgb(24, 24, 24);
}
.mat-button-toggle-checked {
    background-color: rgb(65, 65, 65);
  }
.textColor{
    color: white;
}
.mat-divider{
    margin-bottom: 12px;
    margin-top: 0;
    position: relative;
    height: 4px;
    width: 100%;
    border-width: 4px;
    border-top-color: #92D50B;
}

.page-container {
  background-color: #202020;
}

.categories-container {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
