<mat-toolbar class="page-container">
  <img
    routerLink="/home"
    src="/assets/img/logo.png"
    alt="Soft Hoarders"
    class="logo"
  />
  <span class="logo-text"
    >SOFT HOARDERS <br />
    12560 | RO031</span
  >
  <span class="spacer"></span>
  <div fxShow="false" fxShow.gt-sm>
    <button mat-button>
      <span routerLink="/home" class="button-text">about</span>
    </button>
    <button mat-button>
      <span class="button-text">news</span>
    </button>
    <button mat-button routerLink="/map">
      <span class="button-text">map</span>
    </button>
    <button mat-button>
      <span class="button-text" (click)="scoringAppService.openScoringDialog()"
        >scoring app</span
      >
    </button>
    <button mat-button>
      <span class="button-text">sponsors</span>
    </button>
    <button mat-button>
      <span class="button-text">media</span>
    </button>
  </div>
  <button
    mat-button
    fxShow="false"
    fxShow.lt-md
    (click)="mobileSidenavService.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
