
  <mat-toolbar class="page-container">
  <a href="http://localhost:4200/">
    <!-- TODO: scroll to beginning of page  -->
    <img src="/assets/img/logo.png" alt="Soft Hoarders" class="logo"/>
  </a>
 
  <span class="logo-text">SOFT HOARDERS <br> 12560 | RO031</span>
  <span class="spacer"></span>
  <div fxShow="false" fxShow.gt-sm>
  <a class="button">
    <span class="button-text">about</span>
  </a>
  <a class="button">
    <span class="button-text">news</span>
  </a>
  <a class="button">
    <span class="button-text">map</span>
  </a>
  <a class="button">
    <span class="button-text">our app</span>
  </a>
  <a class="button">
    <span class="button-text">sponsors</span>
  </a>
  <a class="button">
    <span class="button-text">media</span>
  </a>
  </div>
  <button mat-button fxShow="false" fxShow.lt-md>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
