<mat-toolbar class="page-container">
  <img
    routerLink="/home"
    src="/assets/img/logo.png"
    alt="Soft Hoarders"
    class="logo"
  />
  <span class="logo-text"
    >SOFT HOARDERS <br />
    12560 | RO031</span
  >
  <span class="spacer"></span>
  <div fxShow="false" fxShow.gt-sm>
      <navbar-controls></navbar-controls>
  </div>
  <button
    mat-button
    fxShow="false"
    fxShow.lt-md
    (click)="mobileSidenavService.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
