.page-container {
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.logo {
  
  width: 4vw;
  min-width:80px;
  transition-property: transform;
  transition-duration: 0.8s;
}

.logo:hover {
  transform: rotate(360deg);
  
  
}

.logo-text {
  
  font-family: Newake;
  font-size: calc(0.8vw + 10px);
  line-height: 1;
}


.button-text {
  display: inline-block;
  position: relative;
  font-family: Newake;
  font-size: calc(0.4vw + 10px);
  cursor: pointer;
  
}
.button-text:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left:0;
  bottom: 4px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.button-text:hover:after {
  transform: scaleX(1);
  background-color: green;
  transform-origin: bottom left;
}
.button-text:hover {
  color: green;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: white;
  height: 80px;
}

a.button {
  margin-left: 3vw;
  margin-right: 2vw;
}

.hamburger-button {
  transform: scale(1.5);
}

